<p id="notice"><%= notice %></p>

<h1>
  <%= @profile.first_name %>
  <%= @profile.last_name %>
</h1>


<p>
    <%= fa_icon "phone" %>
  <%= @profile.mobile_number %>
</p>

<p>
  <strong>Region:</strong>
  <%= @profile.region %>
</p>

<p>
  <strong>Province:</strong>
  <%= @profile.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

