<%= form_with(model: cpd_event, local: true) do |form| %>
  <% if cpd_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cpd_event.errors.count, "error") %> prohibited this cpd_event from being saved:</h2>

      <ul>
      <% cpd_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cpdevent_id %>
    <%= form.number_field :cpdevent_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
