<h1> hi</h1>
<%= form_with(model: cpd_event, local: true) do |form| %>
  <% if cpd_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cpd_event.errors.count, "error") %> prohibited this cpd_event from being saved:</h2>

      <ul>
      <% cpd_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.datetime_select :date , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description , class: "form-control"%>
  </div>

  <div class = "form-group">
      <%= form.label :image%>
      <%= form.file_field :image, class: "form-control-file"%>
  </div>


  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
