<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cpd_event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cpd_event.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cpd_event.description %>
</p>

<%= link_to "Make announcement", new_cpd_event_announcement_path(@cpd_event) %>
<%= link_to 'Edit', edit_cpd_event_path(@cpd_event) %> |
<%= link_to 'Back', cpd_events_path %>
